-----BEGIN CERTIFICATE-----
< Replace this block with your CA certificate in PEM format. >
< This is the certificate that signed your RADIUS server's TLS cert. >
< You can export it from your CA with: openssl x509 -in ca.crt -out ca.pem >
-----END CERTIFICATE-----
