-----BEGIN PRIVATE KEY-----
< Replace this block with your client private key in PEM format (PKCS#8). >
< Keep this file secret -- it never leaves the device. >
< To convert from traditional PEM: openssl pkcs8 -topk8 -nocrypt -in key.pem -out client.key >
-----END PRIVATE KEY-----
